# Export functions
export (coord2dist,
	find.minmax.ind,
	find.minmax,
	kendall.w,
	peaks,
	peaks.signif,
	phase.partnered,
	phase.sync,
	phase.sync.signif,
	community.sync,
	community.sync.signif,
	surrogate.ts,
	latlon2dist,
	vario.fit,
	vario,
	vario.signif,
	vario.func)

# S3 method for plotting
S3method(plot, vario)
S3method(plot, variofit)