# Export functions
export (coord2dist,
	correlated.matrix,
	find.minmax,
	kendall.w,
	peaks,
	phase.partnered,
	phase.sync,
	community.sync,
	surrogate.ts,
	latlon2dist,
	vario.fit,
	vario,
	vario.func)

# S3 method for plotting
S3method(plot, vario)
S3method(plot, variofit)